/* Gaya kustom untuk efek glassmorphism dan font */
body {
    font-family: 'Inter', sans-serif;
}
.weather-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Dukungan untuk Safari */
    border: 1px solid rgba(255, 255, 255, 0.2);
}
/* Mengubah warna placeholder agar lebih terlihat */
.custom-placeholder::placeholder {
    color: #d1d5db; /* gray-300 */
    opacity: 1;
}
